<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>タイトル</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b98052541d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
　　<link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
　　
  </head>
  <body>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class = "card-body-new">
          <form action= "/confirm" method="post">
            <% @material_persons.each do |material_person| %>
              <% unless material_person.material_person_url.empty? %>
                <label><input type = "radio" name = "person" id = "person<%= material_person.id %>" value = "<%= material_person.material_person_url %>"><%= material_person.id %></label>
                <img class = "person_img" src = "<%= material_person.material_person_url %>">
              <% end %>
        　　  <% end %>
            
        　　  <% @material_bottoms.each do |material_bottom| %>
              <% unless material_bottom.material_bottom_url.empty? %>
                <label><input type = "radio" name = "bottom" id = "bottom<%= material_bottom.id %>" value = "<%= material_bottom.material_bottom_url %>"><%= material_bottom.id %></label>
                <img class = "bottom_img" src = "<%= material_bottom.material_bottom_url %>">
              <% end %>
        　　  <% end %>
        　　
        　　<p>
              <label><input type = "radio" name = "bottom" id = "bottom1" value = "bottom1">1</label>
              <label><input type = "radio" name = "bottom" id = "bottom2" value = "bottom2">2</label>
              <label><input type = "radio" name = "bottom" id = "bottom3" value = "bottom3">3</label>
              <label><input type = "radio" name = "bottom" id = "bottom4" value = "bottom4">4</label>
              <label><input type = "radio" name = "bottom" id = "bottom5" value = "bottom5">5</label>
            </p>
            
            <div class = "bottom_color">
              <label><input type = "radio" name = "bottom_color" id = "black" value = "black">黒</label>
              <label><input type = "radio" name = "bottom_color" id = "red" value = "red" >赤</label>
              <label><input type = "radio" name = "bottom_color" id = "beije" value = "beije">ベージュ</label>
              <label><input type = "radio" name = "bottom_color" id = "navyblue" value = "navyblue">紺</label>
              <label><input type = "radio" name = "bottom_color" id = "charcoal" value = "charcoal">チャコール</label>
              <label><input type = "radio" name = "bottom_color" id = "paletone" value = "paletone">ペールトーン</label>
            </div>
          
            <% @material_tops.each do |material_top| %>
              <p>
                  <% unless material_top.material_top_url.empty? %>
                    <label><input type = "radio" name = "top" id = "top<%= material_top.id %>" value = "<%= material_top.material_top_url %>"><%= material_top.id %></label>
                    <img class = "top_img" src = "<%= material_top.material_top_url %>">
                    
                  <% end %>
              </p>
            <% end %>
            
            <p>
              <label><input type = "radio" name = "top" id = "top1" value = "top1">1</label>
              <label><input type = "radio" name = "top" id = "top2" value = "top2">2</label>
              <label><input type = "radio" name = "top" id = "top3" value = "top3">3</label>
              <label><input type = "radio" name = "top" id = "top4" value = "top4">4</label>
              <label><input type = "radio" name = "top" id = "top5" value = "top5">5</label>
            </p>
            
            <div class = "bottom_color">
              <label><input type = "radio" name = "top_color" id = "black" value = "黒">黒</label>
              <label><input type = "radio" name = "top_color" id = "red" value = "赤" >赤</label>
              <label><input type = "radio" name = "top_color" id = "beije" value = "ベージュ">ベージュ</label>
              <label><input type = "radio" name = "top_color" id = "navyblue" value = "紺">紺</label>
              <label><input type = "radio" name = "top_color" id = "charcoal" value = "チャコール">チャコール</label>
              <label><input type = "radio" name = "top_color" id = "paletone" value = "ペールトーン">ペールトーン</label>
            </div>
          
          <p>
            <input type = "submit" value = "確認">
          </p>
          </form>
          
        </div>
      </div>
    </div>
  </body>
</html>